App MetroSence/backend_metrosence
App MetroSence/modelo_yolo

Diagramas
Documentos Proyecto
Fases del Proyecto
Video demostracion metrosence


# Ignora lo pesado habitual dentro de la app
node_modules/
.expo/
android/
ios/
.git/
**/.cache/

# Datos/medios grandes (ajusta si aplica)
datasets/
data/
downloads/
uploads/
assets/raw/**
**/*.mp4
**/*.mov
**/*.zip
**/*.parquet

