Alumno Agustin Quezada
Alumno Nicolas Oses
Alumno Danilo Morales

App MetroSence/backend_metrosence
App MetroSence/modelos_metrosence
App MetroSence/modelo_yolo

Diagramas
Documentos Grupales Fase 1


# Ignora lo pesado habitual dentro de la app
node_modules/
.expo/
android/
ios/
.git/
**/.cache/

# Datos/medios grandes (ajusta si aplica)
datasets/
data/
downloads/
uploads/
assets/raw/**
**/*.mp4
**/*.mov
**/*.zip
**/*.parquet

